<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <title>Login</title>
</head>
<body>
<!--네비게이션 바-->
<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">EH7's Board</a>
    <div class="navbar-nav">
      <a class="nav-link" href="login">Login</a>
    </div>
  </div>
</nav>
<!--네비게이션 바 END-->

<!--가입 폼-->
<div class="container-fluid mt-5 px-5"
style="max-width: 1000px;">
  <form>
    <!--ID-->
    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="text" class="form-control" id="id">
    </div>
    <!--NAME-->
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <!--PASSWORD-->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <!--PASSWORD CONFIRM-->
    <div class="mb-3">
      <label for="password-confirm" class="form-label">Password Confirm</label>
      <input type="password" class="form-control" id="password-confirm">
    </div>
    <!--SUBMIT-->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<!--로그인 폼 END-->

</body>
</html>